@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* background color */
    --background-color: #f9fafb;
    /* primary colors */
    --primary-color: #000;
    --secondary-color: #fff;
    --third-color: #dc2626;
    /* text colors */
    --primaryText-color: #9ca3af;
    --secondaryText-color: #4b5563;
}

/* header styles */
.time-section{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    margin-bottom: 22px;
}
.time-section p{
    font-size: 18px;
    font-weight: 500;
}
.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
}
.heading-line{
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    line-height: 45px;
}
.nav-links{
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 10px;
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
}
.nav-links li{
    list-style: none;
    font-size: 18px;
    font-weight: 700;
}
.nav-links a:hover{
    color: var(--third-color);
}

/* hero section styles */
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-section img{
    height: 400px;
    object-fit: cover;
}
.hero-heading{
    margin-top: 75px;
}
.hero-message{
    line-height: 29px;
}

/* about me styles */
.about-me-section{
    margin-top: 100px;
}
.about-me-alert{
    background-color: var(--third-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    width: 210px;
    height: 40px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.about-me-message{
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
}